<div class="container_big-card">
    
    <div class="big-card_photo">
        <img 
            src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg" 
            alt=""
            height="200px"          
        >
    </div>
    <div class="big-card_title">
       <h1><a href="">Homem de Ferro da Marvel Studios</a></h1>

    </div> 
    <div class="big-card_description">
        <p>Prepare-se para muita ação com Robert Downey Jr., na aventura máxima ue todos estavam esperando! Quando é capturado em território inimigo, o genial magnata Tony Stark constrói uma armadura de alta tecnologia para escapar. Agora, ele tem a missãp de salvar o mundo como um herói que não nasceu, mas foi criado como nenhum outro</p><br><br><br>
    </div>
    
</div>
