<div class="container_menu-bar">
    div
    <ul>
        <li><img class="Linkedin" src="https://img.freepik.com/vetores-premium/logotipo-quadrado-do-linkedin-isolado-no-fundo-branco_469489-892.jpg" alt=""></li>
        <li><a href="https://www.linkedin.com/feed/">Linkedin</a></li>
        <li><img class="github" src="https://cdn.iconscout.com/icon/free/png-256/free-github-brand-logo-47401.png?f=webp" alt=""></li>
        <li><a href="https://github.com/">Github</a></li>
        <li><img class="instagram" src="https://img.freepik.com/vetores-premium/logotipo-de-midia-social-gradiente-roxo_197792-1883.jpg?w=2000" alt=""></li>
        <li><a href="https://www.instagram.com/">Instagran</a></li>
    </ul>
</div>
